[user]
	name = Jose Hernández
    email = josehernandz@gmail.com
    signingkey = D7461A60F32EBFBA

[core]
    excludesfile = /Users/jose.hernandez/.gitignore_global
    editor = vim
    autocrlf = input
    precomposeunicode = false

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[fetch]
    prune = true

[push]
    default = simple

[help]
    autocorrect = 1

[diff]
    tool = vimdiff
    compactionHeuristic = true
    indentHeuristic = true

[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = cyan bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = green
    changed = yellow
    untracked = red

[credentials]
    helper = osxkeychain

[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
    branch = false

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    program = gpg

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    # Delete local branches that are merged into master or develop
    cu = !git branch --merged | egrep -v \"(^\\*|master|develop)\" | xargs git branch -d
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
